*.o
*.a
Makefile.in
Makefile
.deps

aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
missing
stamp-h1
core
core.*

# Backups, vi, merges
*~
*.sw?
*.orig
*.sav

# debian
.tarball-version
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/osmo-bts-trx-dbg/
debian/osmo-bts-trx/
debian/tmp/

/.autotools
/.cproject
/.project
/.settings/

